body{
	background-color: #df6748
}
#maindiv{
	margin-top: 5%;
	background-color:black;
	display: flex;
	padding: 7%;
}
img{
	width: 40%;
	height: 40%;
	margin:2%;
	border-radius: 15%;
	position:relative;
}
.card{
	background-color: #df6748;
	width: 35%;
	height:100%;
	position: relative;
	border-radius:5%;
	margin-left:1%;
	text-align:center;
	padding-top:2%;
}
table,th,td{
	border:1px solid black;
	text-align:center;
}
/*media Queries*/
@media screen and (min-width: 781px) and (max-width: 992px){
	/*#main{
		flex-direction:column;
	}
	.card{
		width:100%;
		padding:0px;
	}*/
	#main{
		flex-direction:row-reverse;
	}
	
}
/*@media screen and(min-width: 320px) and (max-width: 480px){
	#main{
		display:flex;
		flex-direction:column;
	}
		}
		
	}
}*/
